 
<% if (user) { %>
  <%- include("partials/header_1") %>
<% } else { %>
  <%- include("partials/header") %>
  <% } %>
<section style="height: 100vh;" id="about">
    <h1 class="about-title">About InterXview</h1>
    <p class="about-description">At InterXview, we are passionate about helping job seekers navigate the challenging terrain of job interviews. We understand that interviews can be intimidating, but they are also the key to unlocking your dream career. That's why we've created a platform where users can share, learn from, and grow through the power of interview experiences.</p>
    
    <br>
    
    <h1 class="about-subtitle">Our Mission</h1>
    <p class="about-description">
      Our mission is simple - to empower individuals by providing a supportive and informative platform for sharing interview experiences. We believe that by sharing these stories, we can demystify the interview process, inspire confidence, and ultimately help you succeed in your job search journey.
    </p>
    <div class="team">
      <h2 class="about-subtitle">Meet the Team</h1>
      <div class="team-div">
        <div class="person">
            <img src="/Images/anuprakash.jpg" alt="Image of Danush">
            <p class="name">Anuprakash</p>
            <p class="role">Back-end Developer</p>
          </div>
          <div class="person">
            <img src="/Images/danush.jpg" alt="Image of Danush">
            <p class="name">Danush Adithya P</p>
            <p class="role">Front-end Developer</p>
          </div>
          <div class="person">
            <img src="/Images/sanjay.jpg" alt="Image of Danush">
            <p class="name">Sanjay Rahul S</p>
            <p class="role">Back-end Developer</p>
          </div>
      </div>
    </div>
  </section>