<%-include ("partials/header.ejs") %>

<h2 id="login_heading"> Contact us👋</h2>
<div class="login-container">
  <div class="login user_login">
    <form method="post" action="/signin">
      <div class="mb-3">
        <label for="email"  class="form-label">Email</label>
        <input type="text" name="email" class="form-control" autocomplete="off" id="username" aria-describedby="emailHelp">
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">What can we help with?</label>
        <textarea class="form-control" id=feedback" rows="3"></textarea>
      </div>
      <div class="signin-forgot">
        <a href="mailto:interxview@gmail.com"><button type="submit" class="btn btn-primary">Send us</button></a>
      </div>
    </form>  
  </div>
</div>