<%- include("partials/header.ejs") %>

<h2 id="forgot_password_heading">Forgot Password</h2>
<div class="forgot-password">
  <p>Enter your email and we'll send you a password reset link to get back into your account.</p>
  <form method="post" action="/forgot-password">
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="text" name="email" class="form-control" autocomplete="off" id="email" aria-describedby="emailHelp">
    </div>
    <button type="submit" class="btn btn-primary">Reset Password</button>
  </form>
</div>