<%- include("partials/header.ejs") %>

<h2 id="login_heading">Forgot Password</h2>
<div class="login-container">
  <div class="login user_login">
    <p>Enter your email and we'll send you a password reset link to get back into your account.</p>
    <form id="emailForm" method="post" action="/forgot-password">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" name="email" class="form-control" autocomplete="off" id="email" aria-describedby="emailHelp">
      </div>
      <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
  </div>
</div>
<footer class="footer text-center">
  <div class="container py-4">
      <div class="row">
          <div class="col-md-12">
              <p class="footer-text">&copy; 2023 InterXview. All rights reserved.</p>
          </div>
      </div>
  </div>
</footer>

<script>
  document.getElementById("emailForm").addEventListener("submit", async function(event) {
    event.preventDefault();

    let email = document.getElementById("email").value;

    const bodyData = {
        email: email,
    };
    
    await fetch("/forgot-password", {
        method: "POST",
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(bodyData)
      })
      .then(response => {
        if (!response.ok) {
          response.text().then(msg => {
            toastAlert({
              icon: "error",
              msg: msg,
              position: "top"
            });  
          })
        } else {
          response.text().then(msg => {
            Swal.fire({
              position: "center",
              icon: "success",
              title: msg,
              showConfirmButton: false,
            });
          })
        }
      })
      .catch(error => {
        console.error(error);
      })
  });
</script>