<%-include ("partials/header.ejs") %>


<section id="top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <h2 id="tophead">Find your space here to share your interview experience and also view many other interview experiences⚡
        </h2>
        <button class="btn btn-lg btn-primary write_now" onclick = "location.href='/signin'">Write your Interview Experience ⚡</button> <br> <br>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="imagetop">
          <img src="/Images/home.png">
        </div>
      </div>
    </div>
  </div>
</section>
