<%- include("partials/header.ejs") %>

<h2 id="reset_password_heading">Reset Password</h2>
<div class="reset-password">
    <form method="post" action="/reset-password/<%= token %>">
        <div class="mb-3">
            <label for="newPassword" class="form-label">New Password</label>
            <input type="password" name="newPassword" class="form-control" id="newPassword">
        </div>
        <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <input type="password" name="confirmPassword" class="form-control" id="confirmPassword">
        </div>
        <div class="mb-3">
            <input type="checkbox" id="showPasswordCheckbox" onclick="togglePasswordVisibility()"> Show Password
        </div>
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
</div>

<script>
    function togglePasswordVisibility() {
        const newPasswordInput = document.getElementById("newPassword");
        const confirmPassInput = document.getElementById("confirmPassword");
        const showPasswordCheckbox = document.getElementById("showPasswordCheckbox");

        if (showPasswordCheckbox.checked) {
            newPasswordInput.type = "text"; 
            confirmPassInput.type = "text"; 
        } else {
            newPasswordInput.type = "password";
            confirmPassInput.type = "password"; 
        }
    }
</script>