<%-include ("partials/header.ejs") %>
<h2 id="login_heading">Register Here ⚡</h2>
<div class="login-container">
  <div class="login user_login">
    <form id="signupForm" method="post" action="/signup" >

      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="username" autocomplete="off" class="form-control" id="username" name="username" required>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email Address</label>
        <input type="email" class="form-control"  id="email" autocomplete="off" name="email" required>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" maxlength="100" minlength="8" autocomplete="off" class="form-control" id="password" name="password" required>
      </div>

      <button type="submit" class="btn btn-primary">Sign-Up</button> 
      <h6 id="span" class="mb-0"> Already have an account? <a href="/signin"> Sign in!</a></h6>

    </form>  
  </div>
</div>

<script>
  document.getElementById("signupForm").addEventListener("submit", async function(event) {
    event.preventDefault();

    let username = document.getElementById("username").value;
    let email = document.getElementById("email").value;
    let password = document.getElementById("password").value;

    const bodyData = {
        username: username,
        email: email,
        password: password
    };
    
    await fetch("/signup", {
        method: "POST",
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(bodyData)
      })
      .then(response => {
        if (response.status === 500) {
          toastAlert({
              icon: "error",
              msg: "Something went haywire",
              position: "top"
            });
        } else if (response.status === 401) {
          response.text().then(errorMessage => {
            toastAlert({
              icon: "error",
              msg: errorMessage,
              position: "top"
            });
        });
        } else if (response.redirected) {
          window.location.href = response.url;
        }
      })
      .catch(error => {
        console.error('Error:', error);
      })
  });
</script>
